@model IEnumerable<ProjectMVC.UI.Models.VMs.ArticleVMs.ArticleListVM>

@{
    ViewData["Title"] = "UserArticleList";
}

<h1>Makalelerim </h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a class="btn btn-success" asp-action="Create">YENİ EKLE</a>
    </p>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>          
            <th>
                @Html.DisplayNameFor(model => model.AvgReadTime) (Dakika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                Konu              
            </th>
            <th>
                Yazar Kullanıcı Adı              
            </th>
            <th>
                İşlemler
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.AvgReadTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppUser.UserName)
                </td>

                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("GÜNCELLE", "Update", new { id=item.Id}, new{ @class = "btn btn-warning"})  

                        @Html.ActionLink("SİL", "Delete", new { id=item.Id} , new{ @class = "btn btn-danger"})
                    }
                    @Html.ActionLink("OKU", "Detail", new { id=item.Id}, new{ @class = "btn btn-success"})

                </td>
            </tr>
        }
    </tbody>
</table>
